*{
    margin: 0;
    padding: 0;
    font-family: roboto-regular;
    box-sizing: border-box;
}

a{
    list-style: none;
    color: black;
    text-decoration: none;
    font-family: roboto-regular;
    font-weight: 600;
    font-size: 20px;
}

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-icon {
    margin-top: 16px;
  }

  /* for mobile */
  @media screen and (max-width: 767px){
    .whatsapp-icon {
      margin-top: 10px;
    }
    .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
    }
  }

.contenedorSeccionContacto{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 75px;
}

.contenedorInfoContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    width: 40%;
    gap: 20px;
}

.separador{
    background-color: #008c58 ;
    color: #008c58;
    font-size: 20px;
}

.tituloContactoConNosotros{
    font-size: 50px;
    text-align: center;
    font-weight: 300;
}

.logoMasInfo{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.logoContacto{
    max-width: 9%;
}

.contenedorImagenCelu{
    width: 20%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.imagenCelu{
    max-width: 100%;
    position: relative;
}

.infoContacto{
    font-size: 25px;
    margin-bottom: 0;
}