*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto-regular;
}

html{
    height: 100%;
}

.contacto_footer{
    display: flex;
    flex-direction: column;
    text-align: right;

}

.header{
    width: 100%;
    display: flex;
    background-size: cover;
    border-bottom: #008c58;
    position: fixed;
    height: 11%;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}

.contenedorLogo{
    display: flex;
    width: 10%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: #008c58;
    background-size: cover;
    padding-top: 5px;
    
}

.navbar{
    height: 90%;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-size: cover;
    background-color: #008c58;
    padding-top: 5px;
}

.logo_navbar{
    width: 60%;
    max-height: 85%;
    
}

.diapositivaInicio{
    width: 100%;
    background-color: #008c58;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.contenedorFotoComputadora{
    width: 50%;
    display: flex;
    height: 100%;
}

.fotoComputadora{
    max-width: 100%;
    max-height: 70%;
}

.diapositivaQueHacemos{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloQueHacemos{
    text-align: center;
}

.diapositivaLogros{
    background-color: #008c58;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 5%;
    padding: 5% 0;
}

.tituloLogros{
    color: black;
    font-family: roboto;
}

.contenedorImgEstudiantes{
    display: flex;
    max-width: 40%;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.imgEstudiantes{
    width: 100%;
    
}




.seccionEslogan{
    position: relative;
    width: 100%;
    background-color:#008c58;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.separadores{
    width: 5px;
    height: 100%;
    color: white;
    background-color: white;
    margin: 0;
}

.tituloTestimonio{
    font-size: 30px;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

a{
    list-style: none;
    color:black;
    text-decoration: none;
    font-family: roboto;
    font-weight: 600;
    font-size: 20px;
}

a:hover{
    color: rgb(136, 221, 178);
}




.contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 40%;
}

.cuadrado{
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);;
    
}

.simbolo{
    position: relative;
    color: #008c58;
    font-size: 50px;
    font-weight: bold;
    margin: 10px 10px;
    font-family: 'Space Grotesk', sans-serif;;
    
}

.info{
    position: relative;
    color: black;
    font-size: 20px;
    margin: 10px 10px;
    opacity: 0.5;    
}

.seccionTestimonios{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cardsTestimonio{
    display: flex;
    max-width: 80%;
    gap:50px;
}

.cardTestimonio{
    width: 250px;
    height: 350px;
    perspective: 1000px;
    margin: 50px auto;
   
  }

  .cardTestimonio-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
   
  }

  .cardTestimonio:hover .cardTestimonio-inner {
    transform: rotateY(180deg);
  }

  .cardTestimonio-front,
  .cardTestimonio-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    font-family: roboto-regular;
    font-weight: 500;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .cardTestimonio-front {
    background-color:#0a9260;
  }

  .cardTestimonio-back {
    background-color:#a9c7bc;
    transform: rotateY(180deg);
    color: black;
  }


.fotoTestimonio{
    width: 100%;
    height: 90%;
}


.cursos_footer{
    display: flex;
    flex-direction: column;
}

.examenes_footer{
    display: flex;
    flex-direction: column;
}

.contenido_footer{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15%;
    padding: 2% 0;
}

.logo_footer{
    height: 50%;
    width: 20%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.info_footer{
    display: flex;
    flex-direction: column;
    margin-right: -15%;
}

.redes_footer{
    display: flex;
    flex-direction: column;
    
}

footer{
    
    background-color:#008c58;
    color: black;
    margin-top: auto;
}

.telefono_footer{
    margin-bottom: 0;
}

