*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto-regular;
}

.contacto_footer{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header{
    width: 100%;
    display: flex;
    background-size: cover;
    border-bottom: #008c58;
    position: fixed;
    height: 11%;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    top: 0;
}

.contenedorLogo{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #008c58;
    background-size: cover;
    padding-top: 5px;
}

.navbar{
    height: 90%;
    padding: 10px 0;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: #008c58;
    padding-top: 5px;
    width: 100%;
    border-radius: 5px;
}

.logo_navbar{
    width: 90%;
    max-height: 90%;
    height: 90%;
}

.diapositivaInicio{
    width: 100%;
    background-color: #008c58;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.contenedorTextoPrincipal{
    width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.tituloHighlands{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 110px;
    color: aliceblue;
}

.tituloHighlandsTexto{
    color: aliceblue;
    font-size: 18px;
    width: 100%;
}

.listadoDiapositivaInicio{
    color: aliceblue;
}

.listadoDiapositivaInicioItem{
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
}

.contenedorBotonContactanosPrincipal{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.contenedorBotonContactanosPrincipal:hover{
    background-color: aquamarine;
    color: black;
}

.botonContactanosPrincipal{
    width: 100%;
    color: black;
    font-size: 17px;
    font-weight: 800;
    text-transform: none;
}

.botonContactanosPrincipal:hover{
    color: black;
}

.contenedorFotoComputadora{
    width: 65%;
    display: flex;
    height: 500px;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.fotoComputadora{
    max-width: 100%;
    height: 80%;
}

.diapositivaQueHacemos{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloQueHacemos{
    width: 80%;
    border: none;
    border-top: 1px solid #008c58;
    opacity: 1;
}

.contenedorRubros{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 20%);
    column-gap: 10%;
    row-gap: 150px;
    justify-content: center;
    padding: 9% 0;
}

.rubro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8%;
}

.fotoRubro{
    max-width: 30%;
    width: 30%;
}

.infoRubro{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
}

.diapositivaLogros{
    background-color: #008c58;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 5% 0;
}

.tituloLogros{
    color: black;
    font-family: roboto;
}

.contenedorImgEstudiantes{
    display: flex;
    max-width: 45%;
    width: 45%;
    justify-content: center;
    align-items: center;
}

.imgEstudiantes{
    width: 100%;
}

.seccionEslogan{
    position: relative;
    width: 100%;
    background-color:#008c58;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.separadores{
    width: 5px;
    height: 50%;
    color: white;
    background-color: white;
    margin: 0;
}

.tituloTestimonio{
    font-size: 30px;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

a{
    list-style: none;
    color: black;
    text-decoration: none;
    font-family: roboto;
    font-weight: 600;
    font-size: 20px;
}

a:hover{
    color: rgb(136, 221, 178);
}


.contenedorLogros{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 45%;
    max-width: 45%;
}

.cuadrado{
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);;
    
}

.simbolo{
    position: relative;
    color: #008c58;
    font-size: 50px;
    font-weight: bold;
    margin: 10px 10px;
    font-family: 'Space Grotesk', sans-serif;;
    
}

.info{
    position: relative;
    color: black;
    font-size: 20px;
    margin: 10px 10px;
    opacity: 0.5;    
}

.seccionTestimonios{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cardsTestimonio{
    display: flex;
    max-width: 80%;
    gap:50px;
}

.cardTestimonio{
    width: 250px;
    height: 350px;
    perspective: 1000px;
    margin: 50px auto;
   
  }

  .cardTestimonio-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
   
  }

  .cardTestimonio:hover .cardTestimonio-inner {
    transform: rotateY(180deg);
  }

  .cardTestimonio-front,
  .cardTestimonio-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    font-family: roboto-regular;
    font-weight: 500;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .cardTestimonio-front {
    background-color:#0a9260;
  }

  .cardTestimonio-back {
    background-color:#a9c7bc;
    transform: rotateY(180deg);
    color: black;
  }


.fotoTestimonio{
    width: 100%;
    height: 90%;
}

footer{
    background-color:#008c58;
    color: black;
}

.contenido_footer{
    display: flex;
    background-color:#008c58;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 8%;
    padding: 2% 0;
}

.seccionFooter{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
}

.titulosFooter{
    font-size: 20px;
    font-weight: bold;
}

.logo_footer{
    height: 25%;
    width: 50%;
    margin: 10px 0;
}

.linksFooter{
    color: black;
    font-weight: 400;
    font-size: 15px;
}

.redes_footer{
    display: flex;
    flex-direction: column;
}

.telefono_footer{
    margin-bottom: 0;
}

