*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

.contacto_footer{
    display: flex;
    flex-direction: column;
    text-align: right;

}

.fotoHeader {
    max-width: 70%;
    height: 70%;
    max-height: 40%;
    margin-right: 0%;
    margin-left: 30%;

}

.fondoFotoHeader{
    background-color: #008c58;
    
}

.header{
    background-color: #008c58;
}

.logo_navbar{
    width: 7%;
    height: auto;
    margin-right: auto;
}

.cursos_footer{
    display: flex;
    flex-direction: column;
}

.examenes_footer{
    display: flex;
    flex-direction: column;
}

.contenido_footer{
    display: flex;
    justify-content: space-between;

    padding: 5vh;
}

.logo_footer{
    height: 50%;
    width: 20%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.info_footer{
    display: flex;
    flex-direction: column;
    margin-right: -15%;
}

.redes_footer{
    display: flex;
    flex-direction: column;
    
}

footer{
    
    background-color:#008c58;
    color: black;
    margin-top: auto;
}

.telefono_footer{
    margin-bottom: 0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.seccionEslogan{
    position: relative;
    width: 100%;
    background-color:#008c58;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1030;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color:#008c58;
    background-size: cover;
    border-top: #008c58;
    border-bottom: #008c58;
}

.secciones{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    padding-right: 1%;
}

.separadores{
    width: 5px;
    height: 100%;
    color: white;
    background-color: white;
    margin: 0;
}

.escuela{
    font-size: 30px;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

a{
    color:black;
    text-decoration: none;
    
}

a:hover{
    color: rgb(214, 214, 0);
}

.queHacemos{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contenedorImg{
    display: flex;
    max-width: 40%;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.imgEstudiantes{
    width: 100%;
}

.contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 40%;
}

.cuadrado{
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgb(235, 224, 224);
    border: 2px rgb(226, 218, 218) solid;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    
}

.simbolo{
    position: relative;
    color: #008c58;
    font-size: 50px;
    font-weight: bold;
    margin: 10px 10px;
    font-family: 'Space Grotesk', sans-serif;;
    
}

.info{
    position: relative;
    color: black;
    font-size: 20px;
    margin: 10px 10px;
    opacity: 0.5;    
}